<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <th:block th:replace="~{common::linkBootstrap}">
  </th:block>
</head>
<body>
<nav th:replace="~{common::navbar}">

</nav>
<div class="container">
  <p style="color: blue" th:text="${message}"></p>

  <form th:action="@{/home/search}" method="post" class="form-control-lg row d-flex align-items-center justify-content-end">


      <div class="col-md-3">
        <label for="startDate" class="form-label">Chọn ngày bắt đầu</label>
        <input type="date" class="form-control" id="startDate" name="startDate" required>
      </div>
      <div class="col-md-3">
        <label for="endDate" class="form-label">Chọn ngày kết thúc</label>
        <input type="date" class="form-control" id="endDate" name="endDate" required>
      </div>
    <div class="col-2 d-flex align-items-end">
      <button type="submit" class="btn btn-primary w-100">Xem danh sách</button>
    </div>
  </form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Số thứ tự</th>
      <th>Mã đơn hàng </th>
      <th>Tên sản phẩm </th>
      <th>Giá(USD)</th>
      <th>Loại sản phẩm</th>
      <th>Ngày mua</th>
      <th>Số lượng </th>
      <th>Tổng tiền</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, iterStat: ${orders}">
      <td th:text="${iterStat.count}"></td>
      <td th:text="${order.id}"></td>
      <td th:text="${order.product.name}"></td>
      <td th:text="${order.product.price}+'$'"></td>
      <td th:text="${order.product.category.name}"></td>
      <td th:text="${order.day}"></td>
      <td th:text="${order.quantity}"></td>
      <td th:text="${order.getTotalPrice()+'$'}"></td>

      <td><button class="btn btn-danger"
                  th:onclick="'window.location.href = \'' + @{/home/{id}/edit(id=${order.id})} + '\''">Sửa</button></td>
    </tr>
    </tbody>
  </table>

  <!--    <nav aria-label="Page navigation example">-->
  <!--        <ul class="pagination">-->
  <!--            <li class="page-item" th:if="${students.hasPrevious()}">-->
  <!--                <a class="page-link" th:href="@{/student(page=${students.number - 1}, nameStudent=${nameStudent})}" aria-label="Previous">-->
  <!--                    <span aria-hidden="true">&laquo;</span>-->

  <!--                </a>-->
  <!--            </li>-->
  <!--            <li class="page-item" th:if="${students.hasNext()}">-->
  <!--                <a class="page-link" th:href="@{/student(page=${students.number + 1}, nameStudent=${nameStudent})}" aria-label="Next">-->
  <!--                    <span aria-hidden="true">&raquo;</span>-->
  <!--                </a>-->
  <!--            </li>-->
  <!--        </ul>-->
  <!--    </nav>-->
</div>
</body>

</html>